* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

@font-face {
  font-family: my_font;
  src: url(/fonts/Lato-Regular.ttf);
}

body {
  background-image: url(../images/background_img.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: brightness(0.5);
}

.header_container {
  max-width: 1350px;
  margin: auto;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}

.q-productions {
  width: 106px;
  height: 108px;
  background-color: rgb(251, 251, 116);
}

.q-productions_links {
  display: flex;
  justify-content: center;
}

.Q_p {
  text-align: center;
  font-size: 64px;
  font-family: "Segoe UI", sans-serif;
  font-weight: 700;
  color: black;
}

.productions_p {
  font-family: my_font;
  color: black;
  font-weight: 700;
  line-height: 14px;
  font-size: 13px;
  letter-spacing: 0.04em;
}

.nav_container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav_ul {
  display: flex;
  gap: 30px;
}

.nav_a {
  color: white;
  font-family: my_font;
  font-size: 15px;
  font-weight: 300;
}

.nav_a:hover {
  color: rgb(251, 251, 116);
}

.login_icon_container {
  display: flex;
  align-items: center;
  gap: 52px;
}

.login_p {
  color: white;
  font-family: my_font;
  font-size: 15px;
  font-weight: 300;
}

.login_p:hover {
  color: gray;
  cursor: pointer;
}

.login {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 24px;
  height: 28px;
  border-radius: 50%;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.avatar img {
  width: 20px;
  height: 25px;
}

.header_icons {
  margin-right: 55px;
}

.icon {
  width: 22px;
  height: 23px;
}

.upcoming_events_main_title {
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 3.3em;
  color: white;
  padding: 0 30px 70px;
}

.upcoming_events_div {
  max-width: 1350px;
  margin: auto;
  background-color: #000000ad;
}

.upcoming_events_cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.three_united_div {
  background-color: black;
}

.event_p_div {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  gap: 4px;
}

.event_img {
  width: 287px;
  margin-top: -28%;
}

.event_title {
  text-align: center;
  color: white;
  line-height: 1.2em;
  cursor: pointer;
  font-size: 26px;
  font-family: "Segoe UI", sans-serif;
}

.event_p {
  color: white;
  font-size: 16px;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
}

.event_link_0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.event_links_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.event_a {
  margin-top: 7%;
  color: white;
  font-family: "Segoe UI", sans-serif;
  text-decoration: underline;
}

.event_a:hover {
  text-decoration: none;
}

.tickets_btn {
  min-width: 160px;
  min-height: 42px;
  font-size: 15px;
  border: none;
  background-color: rgb(251, 251, 116);
  cursor: pointer;
  margin-bottom: 10%;
}

.tickets_btn:hover {
  text-decoration: underline;
}

.planning_event_div {
  margin-top: 16%;
  background-color: rgb(251, 251, 116);
}

.event_div {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.planning_p {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.2em;
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  margin-top: 5%;
}

.event_buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 7%;
}

.planning_btn {
  border: solid 1px black;
  width: 165px;
  height: 55px;
  cursor: pointer;
  transition: 0.3s;
}

.talk_btn {
  color: rgb(251, 251, 116);
  background-color: black;
}

.talk_btn:hover {
  background-color: rgb(251, 251, 116);
  color: black;
}

.talk_btn p {
  font-family: "Segoe UI", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.our_events_btn {
  background-color: rgb(251, 251, 116);
}

.our_events_btn:hover {
  color: rgb(251, 251, 116);
  background-color: black;
}

.our_events_btn p {
  font-family: "Segoe UI", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

footer {
  margin-top: 2%;
  padding-bottom: 25px;
}

.footer_p {
  color: white;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  font-family: "Segoe UI", sans-serif;
}

.footer_p a {
  text-decoration: underline;
  color: white;
}

.footer_br {
  display: none;
}

.menu_btn {
  display: none;
}

@media (max-width: 320px) {
  .upcoming_events_main_title {
    margin: 6% 0;
    line-height: 1.2em;
  }
}

@media (max-width: 768px) {
  .menu_btn {
    display: block;
    color: rgb(251, 251, 116);
    background-color: transparent;
    border: 2px solid rgb(251, 251, 116);
    border-radius: 8px;
    width: 70px;
    height: 30px;
    cursor: pointer;
    margin-right: 20px;
    box-shadow: 1px 1px 9px rgb(251, 251, 116);
    filter: drop-shadow(0 0 20px #2bc3ff) drop-shadow(0 0 60px #2bc3ff);
    animation: animateText 4s ease-in-out infinite;
  }

  @keyframes animateText {
    0%,
    100% {
      opacity: 0%;
    }
    50% {
      opacity: 100%;
    }
  }

  .nav_ul {
    display: none;
  }

  .login_icon_container {
    display: none;
  }

  .Q_p {
    font-size: 60px;
  }

  .upcoming_events_main_title {
    font-size: 32px;
  }

  .event_img {
    margin: 0;
  }
}

@media (max-width: 995px) {
  .upcoming_events_main_title {
    padding: 0;
  }

  .upcoming_events_div {
    background-color: transparent;
  }

  .upcoming_events_cards {
    flex-wrap: wrap;
  }

  .event_img {
    margin: 0;
  }

  .planning_event_div {
    margin-top: 9%;
  }

  .planning_p {
    font-size: 32px;
    margin-top: 10%;
  }

  .event_buttons {
    flex-direction: column;
    align-items: center;
    margin-bottom: 7%;
  }

  .footer_br {
    display: block;
  }

  .business_conference_br {
    display: none;
  }
}

@media (min-width: 996px) and (max-width: 1130px) {
  .upcoming_events_main_title {
    margin: -1% 0;
  }
}
